<div class="beer" @flyInOut>
  <div>
    <h3>
      <span
        class="beer__fav"
        (click)="beer.fav ? onRemove(beer.id) : onAdd(beer)"
        >{{ beer.fav ? "X" : "+" }}</span
      >
    </h3>
    <img
      class="beer__img"
      i18n-title
      title="Beer image"
      [src]="beer.image_url"
      [alt]="beer.name"
    />
  </div>
  <div class="beer__details">
    <a routerLink="/beer/{{ beer.id }}">{{
      beer.name | reverse: namesReversed
    }}</a>
    <p>{{ beer.tagline }}</p>
  </div>
</div>

<button *ngIf="hasBackButton" appBackButton>&larr; back</button>
