<app-container>
  <h1 i18n>Your Favourite Beers!</h1>
  <p i18n>
    You have {faves.length, plural, =0 {no fave beers} =1 {one fave beer} other {{{faves.length}} fave
    beers}}
  </p>

  <h3>Add a new beer.</h3>
  <app-beer-form (update)="onUpdateFaves($event)"></app-beer-form>

  <!-- <app-list [beers]="faves" (remove)="handleRemove($event)"></app-list> -->
  <!-- <app-list [beers]="getFaves()"></app-list> -->
  <app-list [beers]="faves" *appUnless="!faves.length"></app-list>
  <p *ngIf="error">{{ error }}</p>
  <!-- <ng-template #infoText>
    <p>No fave beers selected yet.</p>
  </ng-template> -->
</app-container>
