<app-container>
  <h2>All Beers</h2>
  <p i18n>{{ beers.length }} {beers, plural, =1 {beer} other {beers}}</p>
  <button
    (click)="onReverse()"
    [@openClose]="isReversed ? 'closed' : 'open'"
    (@openClose.start)="onAnimation($event)"
    (@openClose.done)="onAnimation($event)"
  >
    Reverse beer names
  </button>
  <div style="display: flex">
    <p>Sort by:</p>
    <select [(ngModel)]="sortBy">
      <option value="name">Name</option>
      <option value="tagline">Tagline</option>
    </select>
  </div>
  <app-list [beers]="beers | sort: sortBy"></app-list>
</app-container>
